<main>
    <span class="main-gutter-above-title"></span>
    <span class="main-title-aboveoffers">Рекомендации для вас</span>
    <span class="main-gutter-under-title"></span>
    <div class="main-container-row">
    <div class="main-container-card">
    <img src="assets/images/auto-1.jpg" title="Автомобиль A-класса бу" alt="Автомобиль A-класса бу">
    <h2>Автомобиль A-класса бу</h2>
    <span class="card-price">200 000&nbsp;</span>
    <span class="card-adress">Москва, Ленинский проспект</span>
    <span class="card-datetime">Сегодня 16:12</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-2.jpg" title="Автомобиль B-класса бу" alt="Автомобиль B-класса бу">
    <h2>Автомобиль B-класса бу</h2>
    <span class="card-price">500 000&nbsp;</span>
    <span class="card-adress">Симферополь, Московский проспект</span>
    <span class="card-datetime">Вчера 14:22</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-3.jpg" title="Автомобиль C-класса бу" alt="Автомобиль C-класса бу">
    <h2>Автомобиль C-класса бу</h2>
    <span class="card-price">1 000 000&nbsp;</span>
    <span class="card-adress">Орел, Севастопольскийй проспект</span>
    <span class="card-datetime">Сегодня 11:08</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-4.jpg" title="Автомобиль D-класса бу" alt="Автомобиль D-класса бу">
    <h2>Автомобиль D-класса бу</h2>
    <span class="card-price">1 500 000&nbsp;</span>
    <span class="card-adress">Анапа, Московский проспект</span>
    <span class="card-datetime">Вчера 23:40</span>
    </div>
    </div>
    <span class="main-gutter-betweenrows"></span>
    <div class="main-container-row">
    <div class="main-container-card">
    <img src="assets//images/auto-1.jpg" title="Автомобиль A-класса бу" alt="Автомобиль A-класса бу">
    <h2>Автомобиль A-класса бу</h2>
    <span class="card-price">200 000&nbsp;</span>
    <span class="card-adress">Москва, Ленинский проспект</span>
    <span class="card-datetime">Сегодня 16:12</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-2.jpg" title="Автомобиль B-класса бу" alt="Автомобиль B-класса бу">
    <h2>Автомобиль B-класса бу</h2>
    <span class="card-price">500 000&nbsp;</span>
    <span class="card-adress">Симферополь, Московский проспект</span>
    <span class="card-datetime">Вчера 14:22</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-3.jpg" title="Автомобиль C-класса бу" alt="Автомобиль C-класса бу">
    <h2>Автомобиль C-класса бу</h2>
    <span class="card-price">1 000 000&nbsp;</span>
    <span class="card-adress">Орел, Севастопольскийй проспект</span>
    <span class="card-datetime">Сегодня 11:08</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-4.jpg" title="Автомобиль D-класса бу" alt="Автомобиль D-класса бу">
    <h2>Автомобиль D-класса бу</h2>
    <span class="card-price">1 500 000&nbsp;</span>
    <span class="card-adress">Анапа, Московский проспект</span>
    <span class="card-datetime">Вчера 23:40</span>
    </div>
    </div>
    <span class="main-gutter-betweenrows"></span>
    <div class="main-container-row">
    <div class="main-container-card">
    <img src="assets//images/auto-1.jpg" title="Автомобиль A-класса бу" alt="Автомобиль A-класса бу">
    <h2>Автомобиль A-класса бу</h2>
    <span class="card-price">200 000&nbsp;</span>
    <span class="card-adress">Москва, Ленинский проспект</span>
    <span class="card-datetime">Сегодня 16:12</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-2.jpg" title="Автомобиль B-класса бу" alt="Автомобиль B-класса бу">
    <h2>Автомобиль B-класса бу</h2>
    <span class="card-price">500 000&nbsp;</span>
    <span class="card-adress">Симферополь, Московский проспект</span>
    <span class="card-datetime">Вчера 14:22</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-3.jpg" title="Автомобиль C-класса бу" alt="Автомобиль C-класса бу">
    <h2>Автомобиль C-класса бу</h2>
    <span class="card-price">1 000 000&nbsp;</span>
    <span class="card-adress">Орел, Севастопольскийй проспект</span>
    <span class="card-datetime">Сегодня 11:08</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-4.jpg" title="Автомобиль D-класса бу" alt="Автомобиль D-класса бу">
    <h2>Автомобиль D-класса бу</h2>
    <span class="card-price">1 500 000&nbsp;</span>
    <span class="card-adress">Анапа, Московский проспект</span>
    <span class="card-datetime">Вчера 23:40</span>
    </div>
    </div>
    <span class="main-gutter-betweenrows"></span>
    <div class="main-container-row">
    <div class="main-container-card">
    <img src="assets//images/auto-1.jpg" title="Автомобиль A-класса бу" alt="Автомобиль A-класса бу">
    <h2>Автомобиль A-класса бу</h2>
    <span class="card-price">200 000&nbsp;</span>
    <span class="card-adress">Москва, Ленинский проспект</span>
    <span class="card-datetime">Сегодня 16:12</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-2.jpg" title="Автомобиль B-класса бу" alt="Автомобиль B-класса бу">
    <h2>Автомобиль B-класса бу</h2>
    <span class="card-price">500 000&nbsp;</span>
    <span class="card-adress">Симферополь, Московский проспект</span>
    <span class="card-datetime">Вчера 14:22</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-3.jpg" title="Автомобиль C-класса бу" alt="Автомобиль C-класса бу">
    <h2>Автомобиль C-класса бу</h2>
    <span class="card-price">1 000 000&nbsp;</span>
    <span class="card-adress">Орел, Севастопольскийй проспект</span>
    <span class="card-datetime">Сегодня 11:08</span>
    </div>
    <div class="main-container-card">
    <img src="assets//images/auto-4.jpg" title="Автомобиль D-класса бу" alt="Автомобиль D-класса бу">
    <h2>Автомобиль D-класса бу</h2>
    <span class="card-price">1 500 000&nbsp;</span>
    <span class="card-adress">Анапа, Московский проспект</span>
    <span class="card-datetime">Вчера 23:40</span>
    </div>
    </div>
    <span class="main-gutter-betweenrows"></span>
    </main>
